<% content_for :body_class, "home-page" %>

<% content_for :canonical do %>
  <%= render "shared/canonical", href: root_url %>
<% end %>

<div class="orbit no-margin-top" role="region" aria-label="banner" data-orbit>
  <div class="orbit-wrapper">
    <ul class="orbit-container">

      <li class="orbit-slide">
        <div class="row register">
          <div class="small-4 medium-3 large-2 small-centered">
            <%= link_to 'Más información', 'https://decide.laspalmasgc.es/legislation/processes/2/proposals', class: "button expanded large", target: "_blank"  %>
          </div>
        </div>
        <figure class="orbit-figure">
          <%= image_tag('nueva_ordenanza_trafico1.jpg', class: 'orbit-image', alt: 'Nueva ordenanza de movidlidad y tráfico') %>
        </figure>
      </li>

      <li class="orbit-slide">
        <div class="row banner">
          <div class="small-12 medium-12 small-centered column text-center">
            <h1>Presupuestos Participativos 2019</h1>
          </div>
        </div>
        <div class="row register">
          <div class="small-4 medium-3 large-2 small-centered">
            <%= link_to 'Ver informe de resultados', 'https://decide.laspalmasgc.es/budgets/2', class: "button expanded large" %>
          </div>
        </div>

        <figure class="orbit-figure">
          <%= image_tag('foto13.jpg', class: 'orbit-image', alt: 'Presupuestos Participativos 2019 - Propuestas viables, seleccionadas y asumidas') %>
        </figure>
      </li>

      <li class="orbit-slide">
        <a href="https://decide.laspalmasgc.es/system/documents/attachments/000/000/397/original/1ceb5dbb4910c08cc271fb6c8a0e5ecd32515c5f.pdf" target="_blank">
          <figure class="orbit-figure">
            <%= image_tag('foto12.jpg', class: 'orbit-image', alt: 'Informe de resultados') %>
          </figure>
        </a>
      </li>

      <li class="orbit-slide">
        <a href="https://decide.laspalmasgc.es/polls/2" target="_blank">
          <figure class="orbit-figure">
            <%= image_tag('foto11.jpg', class: 'orbit-image', alt: 'Foto participación ciudadana') %>
          </figure>
        </a>
      </li>

      <li class="orbit-slide">
        <div class="row banner">
          <div class="small-12 medium-12 small-centered column text-center">
            <h1><%= t("layouts.header.open_city_title_html") %></h1>
          </div>
        </div>
        <div class="row register">
          <div class="small-4 medium-3 large-2 small-centered">
            <%= link_to t("layouts.header.register"), new_user_registration_path, class: "button expanded large" %>
          </div>
        </div>

        <figure class="orbit-figure">
          <%= image_tag('foto7.jpg', class: 'orbit-image', alt: 'Foto participación ciudadana') %>
        </figure>
      </li>

      <li class="orbit-slide">
        <div class="row banner">
          <div class="small-12 medium-12 small-centered column text-center">
            <h1><%= t("layouts.header.open_city_title_html") %></h1>
          </div>
        </div>
        <div class="row register">
          <div class="small-4 medium-3 large-2 small-centered">
            <%= link_to t("layouts.header.register"), new_user_registration_path, class: "button expanded large" %>
          </div>
        </div>

        <figure class="orbit-figure">
          <%= image_tag('foto8.jpg', class: 'orbit-image', alt: 'Foto participación ciudadana') %>
        </figure>
      </li>

      <li class="orbit-slide">
        <div class="row banner">
          <div class="small-12 medium-12 small-centered column text-center">
            <h1><%= t("layouts.header.open_city_title_html") %></h1>
          </div>
        </div>
        <div class="row register">
          <div class="small-4 medium-3 large-2 small-centered">
            <%= link_to t("layouts.header.register"), new_user_registration_path, class: "button expanded large" %>
          </div>
        </div>

        <figure class="orbit-figure">
          <%= image_tag('foto5.jpg', class: 'orbit-image', alt: 'Foto participación ciudadana') %>
        </figure>
      </li>
      <li class="orbit-slide">
        <div class="row banner">
          <div class="small-12 medium-12 small-centered column text-center">
            <h1><%= t("layouts.header.open_city_title_html") %></h1>
          </div>
        </div>
        <div class="row register">
          <div class="small-4 medium-3 large-2 small-centered">
            <%= link_to t("layouts.header.register"), new_user_registration_path, class: "button expanded large" %>
          </div>
        </div>

        <figure class="orbit-figure">
          <%= image_tag('foto1.jpg', class: 'orbit-image', alt: 'Foto participación ciudadana') %>
        </figure>
      </li>
      <li class="orbit-slide">
        <div class="row banner">
          <div class="small-12 medium-12 small-centered column text-center">
            <h1><%= t("layouts.header.open_city_title_html") %></h1>
          </div>
        </div>
        <div class="row register">
          <div class="small-4 medium-3 large-2 small-centered">
            <%= link_to t("layouts.header.register"), new_user_registration_path, class: "button expanded large" %>
          </div>
        </div>
        <figure class="orbit-figure">
          <%= image_tag('foto2.jpg', class: 'orbit-image', alt: 'Reuniones consejos') %>
        </figure>
      </li>
      <li class="orbit-slide">
        <div class="row banner">
          <div class="small-12 medium-12 small-centered column text-center">
            <h1><%= t("layouts.header.open_city_title_html") %></h1>
          </div>
        </div>
        <div class="row register">
          <div class="small-4 medium-3 large-2 small-centered">
            <%= link_to t("layouts.header.register"), new_user_registration_path, class: "button expanded large" %>
          </div>
        </div>
        <figure class="orbit-figure">
          <%= image_tag('foto3.jpg', class: 'orbit-image', alt: 'Actividades participación ciudadana') %>
        </figure>
      </li>
      <!-- <li class="orbit&#45;slide"> -->
      <!--   <div class="row banner"> -->
      <!--     <div class="small&#45;12 medium&#45;12 small&#45;centered column text&#45;center"> -->
      <!--       <h1><%= t("layouts.header.open_city_title_html") %></h1> -->
      <!--     </div> -->
      <!--   </div> -->
      <!--   <div class="row register"> -->
      <!--     <div class="small&#45;4 medium&#45;3 large&#45;2 small&#45;centered"> -->
      <!--       <%= link_to t("layouts.header.register"), new_user_registration_path, class: "button expanded large" %> -->
      <!--     </div> -->
      <!--   </div> -->
      <!--   <figure class="orbit&#45;figure"> -->
      <!--     <%= image_tag('foto4.jpg', class: 'orbit&#45;image', alt: 'Actividades participación ciudadana') %> -->
      <!--   </figure> -->
      <!-- </li> -->

    </ul>
    <nav class="orbit-bullets">
      <button class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button>
      <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
      <button data-slide="2"><span class="show-for-sr">Second slide details.</span></button>
      <button data-slide="3"><span class="show-for-sr">Second slide details.</span></button>
      <button data-slide="4"><span class="show-for-sr">Second slide details.</span></button>
      <button data-slide="5"><span class="show-for-sr">Second slide details.</span></button>
      <button data-slide="6"><span class="show-for-sr">Second slide details.</span></button>
      <button data-slide="7"><span class="show-for-sr">Second slide details.</span></button>
      <!-- <button data&#45;slide="7"><span class="show&#45;for&#45;sr">Second slide details.</span></button> -->
      <!-- <button data&#45;slide="3"><span class="show&#45;for&#45;sr">Second slide details.</span></button> -->
    </nav>
  </div>
</div>
<div class="small-12 row sub-banner">
  <p class="lead">
  <%= t("layouts.header.open_city_slogan_html") %>
  </p>
  <div class="small-8 medium-4 large-3 small-centered">
    <%= link_to t("layouts.header.more_info"), help_path, class: "button expanded large" %>
  </div>
</div>

<div class="row videos">
  <div class="small-12 medium-12 text-right column">
    <div class="small-12 medium-4 large-4 column">
      <div class="videoWrapper">
        <iframe title= "CONSEJO MUNICIPAL DEL MAYOR - LAS PALMAS DE GRAN CANARIA" src="https://www.youtube.com/embed/K5XjrxesX4Y?rel=0&showinfo=0&controls=0&enablejsapi=1" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
      </div>
    </div>

    <div class="small-12 medium-4 large-4 column">
      <div class="videoWrapper">
        <iframe title= "Presupuestos Participativos LPGC" src="https://www.youtube.com/embed/q6w9Ne0Gv0M?rel=0&showinfo=0&controls=0&enablejsapi=1" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
      </div>
    </div>

    <div class="small-12 medium-4 large-4 column">
      <div class="videoWrapper">
        <iframe title= "PRESUPUESTOS PARTICIPATIVOS LPGC." src="https://www.youtube.com/embed/wioVaBoMKDA?rel=0&showinfo=0&controls=0&enablejsapi=1" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
      </div>
    </div>
  </div>
</div>

<% if feature?("user.recommendations") && (@recommended_debates.present? || @recommended_proposals.present?) %>
  <%= render "recommended",
    recommended_debates: @recommended_debates,
    recommended_proposals: @recommended_proposals %>
<% end %>

<% cache [locale_and_user_status, @featured_debates, @featured_proposals, 'featured'] do %>
  <main>

  <div class="small-12 column text-center margin">
    <div class="row small-12 medium-8">
      <div class="small-12 medium-6 column padding">
        <h2>
          <%= image_tag('debatimos.png') %>
          <%= t("welcome.debates.title") %>
        </h2>
        <p class="small-6 small-offset-3 medium-12 medium-offset-0"><%= t("welcome.debates.description") %></p>
      </div>
      <div class="small-12 medium-6 column padding">
        <h2>
          <%= image_tag('proponemos.png') %>
          <%= t("welcome.proposal.title") %>
        </h2>
        <p class="small-6 small-offset-3 medium-12 medium-offset-0"><%= t("welcome.proposal.description") %></p>
      </div>
    </div>
    <div class="row small-12 medium-8">
      <div class="small-12 medium-6 column padding">
        <h2>
          <%= image_tag('decidimos.png') %>
          <%= t("welcome.decide.title") %>
        </h2>
        <p class="small-6 small-offset-3 medium-12 medium-offset-0"><%= t("welcome.decide.description") %></p>
      </div>
      <div class="small-12 medium-6 column padding">
        <h2>
          <%= image_tag('hacemos.png') %>
          <%= t("welcome.do.title") %>
        </h2>
        <p class="small-6 small-offset-3 medium-12 medium-offset-0"><%= t("welcome.do.description") %></p>
      </div>
    </div>
    </div>

    <div id="participate" class="small-12 medium-12 column padding">
      <div class="row padding">
        <h3 class="column">Participa en LPGC Decide</h3>
      </div>
      <div class="row">
        <div class="small-12 medium-3 column">
          <%= link_to debates_path do %>
            <div>
              <%= image_tag('debate.jpg') %>
              <span>Debatimos</span>
            </div>
            <p>Opina sobre las cuestiones de la ciudad</p>
          <% end %>
        </div>
        <div class="small-12 medium-3 column">
          <%= link_to proposals_path do %>
            <div>
              <%= image_tag('propon.jpg') %>
              <span>Proponemos</span>
            </div>
            <p>Crea propuestas ciudadanas y consigue apoyos</p>
          <% end %>
        </div>
        <div class="small-12 medium-3 column">
          <%= link_to budgets_path do %>
            <div>
              <%= image_tag('decides.jpg') %>
              <span>Decidimos</span>
            </div>
            <p>Decide a qué proyectos se destina el presupuesto participativo</p>
         <% end %>
        </div>
        <div class="small-12 medium-3 column">
          <%= link_to polls_path do %>
            <div>
              <%= image_tag('consulta.jpg') %>
              <span>Nos consultan</span>
            </div>
            <p>El Ayuntamiento nos consulta de manera directa</p>
          <% end %>
        </div>
      </div>
    </div>

  </main>
<% end %>
