<div class="row section-content">
  <div class="small-12 column">
    <h3 id="budgets" data-magellan-target="budgets">
      <%= t("pages.help.budgets.title") %>
    </h3>
    <p><%= t("pages.help.budgets.description") %></p>
    <p><%= t("pages.help.budgets.description_2") %></p>
    <ul class="features">
      <li><%= t("pages.help.budgets.phase_1_html") %></li>
      <li><%= t("pages.help.budgets.phase_2_html") %></li>
      <li><%= t("pages.help.budgets.phase_3_html") %></li>
      <li><%= t("pages.help.budgets.phase_4_html") %></li>
    </ul>

    <figure>
      <%= image_tag "help/budgets_#{I18n.locale}.png", alt: t("pages.help.budgets.image_alt") %>
      <figcaption><%= t("pages.help.budgets.figcaption_html") %></figcaption>
    </figure>
  </div>
</div>
